* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    text-align: center;
    background: rgba(139, 100, 78, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;

    align-items: center;
    max-width: 1200px;
    width: 90%;
}

/* לוח המשחק */
.game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    margin-top: 10px;
    border: solid 10px rgb(110, 58, 25);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.cell {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blackCell {

    background-color: rgba(143, 88, 62, 0.76);
    box-shadow: inset -3px -3px 5px rgba(255, 255, 255, 0.2),
        inset 3px 3px 5px rgba(0, 0, 0, 0.5);

    background-image: url("../images/dark_wood.png");
    background-size: cover;

}

.whiteCell {

    box-shadow: inset -3px -3px 5px rgba(255, 255, 255, 0.6), inset 3px 3px 5px rgba(0, 0, 0, 0.2);


    background-image: url("../images/white_wood.png");
    background-size: cover;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
}

.blackCircle {
    background-image: url("../images/dark_piece.png");
    background-size: cover;
    border: 3px solid #3E2723;
}

.whiteCircle {
    background-image: url("../images/white_piece.png");
    background-size: cover;
    border: 3px solid #D7B291;
}

h2 {
    font-size: 16px;
    color: white;
}

.circles {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
}

.blackCircles {
    background-image: url("../images/dark_piece.png");
    background-size: cover;
    border: 3px solid #3E2723;
}

.whiteCircles {
    background-image: url("../images/white_piece.png");
    background-size: cover;
    border: 3px solid #D7B291;
}

.circle:hover {
    transform: scale(1.1);
}

/* לוח הניקוד */
.score-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.score-board h2 {
    color: #a72a2a;
    font-size: 22px;
    margin: 5px 0;
}

/* חלק תפריט */
.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-left: 50px;
    margin-top: 15px;
}

button {
    padding: 15px;
    background-color: rgb(148, 112, 92);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: rgb(110, 85, 70);
}

a {
    color: white;
    text-decoration: none;
}

.piecesCnt {
    display: flex;
    position: absolute;
    top: 20px;
    left: 15%;
    transform: translateX(-50%);
    width: 20%;
    padding: 10px;
    gap: 7px;
}

 #piecesPlayer {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#piecesComputer {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-right: 20px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}